$primary: '#C3680A';
$primaryLight: '#9df3c4';
$primaryDark: '#1fab89';
$secondary: '#d7fbe8';
$inheritDefault1: '#fefefe';
$inheritDefault2: '#f8f9ff';

$second: '#070919';
$indigo: '#7420ff';
$purple: '#793de6';
$pink: '#fc26a4';
$red: '#eb1748';
$orange: '#f4772e';
$yellow: '#ffc926';
$green: '#42a922';
$teal: '#18e1a5';
$cyan: '#27dcf3';
