.verification-code-custom-styles {
  --ReactInputVerificationCode-itemWidth: 1.5rem;
  --ReactInputVerificationCode-itemHeight: 2.5rem;
  direction: ltr;
  margin: auto;
  display: table;
}

.verification-code-custom-styles .ReactInputVerificationCode__item {
  position: relative;
  color: #262626;
  font-weight: 500;
}

.verification-code-custom-styles .ReactInputVerificationCode__item,
.verification-code-custom-styles .ReactInputVerificationCode__item.is-active {
  box-shadow: none;
}

.verification-code-custom-styles .ReactInputVerificationCode__item:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: #999;
  transition: background-color 0.2s ease-out;
}

.verification-code-custom-styles
  .ReactInputVerificationCode__item.is-active:after {
  background-color: #046cde;
}
