@font-face {
  font-family: iranyekan;
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: url(./files/eot/iranyekanwebbold.eot);
  src: url(./files/eot/iranyekanwebbold.eot?#iefix) format('embedded-opentype'),
    url(./files/woff/iranyekanwebbold.woff) format('woff'),
    url(./files/ttf/iranyekanwebbold.ttf) format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-display: fallback;
  font-style: normal;
  font-weight: 100;
  src: url(./files/eot/iranyekanwebthin.eot);
  src: url(./files/eot/iranyekanwebthin.eot?#iefix) format('embedded-opentype'),
    url(./files/woff/iranyekanwebthin.woff) format('woff'),
    url(./files/ttf/iranyekanwebthin.ttf) format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-display: fallback;
  font-style: normal;
  font-weight: 300;
  src: url(./files/eot/iranyekanweblight.eot);
  src: url(./files/eot/iranyekanweblight.eot?#iefix) format('embedded-opentype'),
    url(./files/woff/iranyekanweblight.woff) format('woff'),
    url(./files/ttf/iranyekanweblight.ttf) format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: url(./files/eot/iranyekanwebregular.eot);
  src: url(./files/eot/iranyekanwebregular.eot?#iefix)
      format('embedded-opentype'),
    url(./files/woff/iranyekanwebregular.woff) format('woff'),
    url(./files/ttf/iranyekanwebregular.ttf) format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-display: fallback;
  font-style: normal;
  font-weight: 500;
  src: url(./files/eot/iranyekanwebmedium.eot);
  src: url(./files/eot/iranyekanwebmedium.eot?#iefix)
      format('embedded-opentype'),
    url(./files/woff/iranyekanwebmedium.woff) format('woff'),
    url(./files/ttf/iranyekanwebmedium.ttf) format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-display: fallback;
  font-style: normal;
  font-weight: 800;
  src: url(./files/eot/iranyekanwebextrabold.eot);
  src: url(./files/eot/iranyekanwebextrabold.eot?#iefix)
      format('embedded-opentype'),
    url(./files/woff/iranyekanwebextrabold.woff) format('woff'),
    url(./files/ttf/iranyekanwebextrabold.ttf) format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-display: fallback;
  font-style: normal;
  font-weight: 900;
  src: url(./files/eot/iranyekanwebblack.eot);
  src: url(./files/eot/iranyekanwebblack.eot?#iefix) format('embedded-opentype'),
    url(./files/woff/iranyekanwebblack.woff) format('woff'),
    url(./files/ttf/iranyekanwebblack.ttf) format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-display: fallback;
  font-style: normal;
  font-weight: 950;
  src: url(./files/eot/iranyekanwebextrablack.eot);
  src: url(./files/eot/iranyekanwebextrablack.eot?#iefix)
      format('embedded-opentype'),
    url(./files/woff/iranyekanwebextrablack.woff) format('woff'),
    url(./files/ttf/iranyekanwebextrablack.ttf) format('truetype');
}

body,
body.iranyekan *,
body.iranyekan .ui.form input:not([type]),
body.iranyekan .ui.form input[type='number'],
body.iranyekan .ui.form input,
body.iranyekan .ui.text,
body.iranyekan *,
body.iranyekan,
body.iranyekan .ui.modal *,
body.iranyekan .ui,
body.iranyekan .ui *,
body.iranyekan .ui.input > input,
body.iranyekan .ui.card *,
body.iranyekan .ui.card .content .header,
body.iranyekan .ui .item *,
body.iranyekan .ui .item .content .header,
body.iranyekan .tox .tox-button {
  font-family: iranyekan;
}

body.iranyekan .ui i.icon {
  font-family: Icons;
}
