@font-face {
  font-family: iranyekan;
  src: url("../fonts/iranyekanweblight.woff") format("woff"),
    /* will be the standard and works in Safari now */
      url("../fonts/iranyekanweblight.woff2") format("woff2");
  /* for the other supporting browsers */
  font-weight: 100 900;
}
/* iranyekan version 7.5 */

body {
  font-family: "iranyekan";
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}
